{%load static%}
{% load mathfilters %}

<!doctype html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XVL33KMXQF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XVL33KMXQF');
  </script>
  <title>
    POKT Blockchain Explorer
  </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="Description" content="poktwatch allows you to explore and search the POKT blockchain for transactions, addresses, tokens, prices and other activities taking place on POKT " />
  <meta name="author" content="poktwatch.io" />
  <meta name="keywords" content="POKT, explorer, pokt, search, blockchain, crypto, currency" />
  <meta name="format-detection" content="telephone=no" />
  <meta property="og:title" content=" POKT Blockchain Explorer" />
  <meta property="og:description" content="poktwatch allows you to explore and search the POKT blockchain for transactions, addresses, tokens, prices and other activities taking place on POKT " />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="POKT Blockchain Explorer" />
  <meta property="og:url" content="http://poktwatch.io/" />
  <meta property="og:image" content="https://poktwatch.io{% static '/brandassets/poktwatch-logo-circle.jpg" />
    <meta property="og:image:url" content="https://poktwatch.io{% static '/brandassets/poktwatch-logo-r.jpg" />
    <meta property="og:image:alt" content="Visit poktwatch.io" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content=" POKT Blockchain Explorer" />
    <meta property="twitter:description" content="poktwatch allows you to explore and search the POKT blockchain for transactions, addresses, tokens, prices and other activities taking place on POKT " />
    <meta name="twitter:site" content="@poktwatch" />
    <meta property="twitter:image" content="https://poktwatch.io{% static '/brandassets/poktwatch-logo-circle.jpg" />
    <link rel="shortcut icon" href="{% static '/favicon3.ico" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46998878-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-46998878-6', {
            'anonymize_ip': true
        });
    </script>

    <link rel=" stylesheet" href="{% static '/assets/vendor/font-awesome/css/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static '/assets/vendor/animate.css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static '/assets/vendor/hs-megamenu/src/hs.megamenu.css' %}">
  <link rel="stylesheet" href="{% static '/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css' %}">
  <link rel="stylesheet" href="{% static '/assets/vendor/select2/dist/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static '/assets/css/theme.min.css' %}">
  <link rel="stylesheet" href="{% static '/assets/css/custom.css' %}">
  <script src="{% static '/assets/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/jss/blockies.js' %}"></script>
  <style>
    .ui-autocomplete {
      position: absolute;
      top: 0;
      left: 0;
      cursor: default
    }

    .ui-state-active {
      border-color: #e7eaf3;
      background: #f8fafd;
    }

    body.dark-mode .ui-state-active {
      background-color: #132a47;
      border-color: #18365b;
    }
  </style>
  <style type="text/css">
    #div-advert {
      line-height: 1.7
    }

    @media (max-width: 667px) {
      #div-advert {
        min-height: 62px;
      }
    }

    @media (max-width: 767px) {
      #div-advert {
        padding-bottom: 20px;
      }
    }
  </style>
  <style>
    .wrapper {
      background-color: #fff !important;
    }

    .ui-autocomplete {
      z-index: 1;
    }
  </style>
  <script async src='/cdn-cgi/bm/cv/669835187/api.js'></script>
</head>

<body id="body">
  <div class="wrapper">
    <header id="header" class="u-header">
      <div class="u-header__section py-1">
        <div id="logoAndNav" class="container">
          <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
            <div class="w-lg-auto">
              <a class="navbar-brand  pt-md-0" href="/" target="_parent" aria-label="poktwatch">
                <img id="logo-header" width="150px" src="{% static '/images/poktwatch-logo.png'%}" alt="poktwatch Logo">
              </a>
            </div>
            <div>
              <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                <span id="hamburgerTrigger" class="u-hamburger__box">
                  <span class="u-hamburger__inner"></span>
                </span>
              </button>
            </div>
            <div class="d-flex flex-column w-100">
              <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse order-md-2">
                <ul class="navbar-nav u-header__navbar-nav px-2 px-md-0">
                  <li id="LI_default" class="nav-item u-header__nav-item active" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">
                    <a class="nav-link u-header__nav-link" href="/" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Home</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main id="content" role="main">
      <input type="hidden" name="hdnAgeText" id="hdnAgeText" value="Age" />
      <input type="hidden" name="hdnDateTimeText" id="hdnDateTimeText" value="Date Time (UTC)" />
      <input type="hidden" name="hdnAgeTitle" id="hdnAgeTitle" value="Click to show Age Format" />
      <input type="hidden" name="hdnDateTimeTitle" id="hdnDateTimeTitle" value="Click to show Datetime Format" />
      <input type="hidden" name="hdnTxnText" id="hdnTxnText" value="Txn Fee" />
      <input type="hidden" name="hdnGasPriceText" id="hdnGasPriceText" value="Gas Price" />
      <input type="hidden" name="hdnTxnFeeTitle" id="hdnTxnFeeTitle" value="(Gas Price * Gas Used by Txns) in Pokt" />
      <input type="hidden" name="hdnGasPriceTitle" id="hdnGasPriceTitle" value="Gas Price in Gwei" />
      <section class="bg-dark" style="background-image: url({% static 'images/components/abstract-shapes-20.svg'%});">
        <div class="container space-top-2 space-bottom-3">

          <div class="row justify-content-between align-items-center mb-4">
            <div class="col-md-12 col-lg-7">
              <div class="pr-lg-4 pr-xll-5">
                <h1 class="h4 text-white mb-3">
                  The POKT Blockchain Explorer
                </h1>
                <form class="mb-3" action="/search" method="GET">
                  <div class="input-group input-group-shadow">

                    <input id="txtSearchInput" type="text" class="form-control searchautocomplete" autocomplete="off" spellcheck="false" placeholder="Search by Address / Txn Hash / Block" aria-describedby="button-header-search" name="q"
                      onkeyup="handleSearchText(this);" maxlength="68">
                    <input type="hidden" value="" id="hdnSearchText" />
                    <input type="hidden" value="" id="hdnSearchLabel" />
                    <input id="hdnIsTestNet" value="False" type="hidden" />
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>

                <p class="text-white-70 mb-0" style="min-height:22px">

                  <ins data-revive-zoneid="6" data-revive-id="94930f9d02164723d814eabe9168eb46"></ins>
                  <script async src="//mct.poktwatch.com/www/d/asyncjses.php"></script>
                </p>

              </div>
            </div>
          </div>

        </div>
      </section>
      <div class="container space-bottom-1 mt-n5">

        <div id="ContentPlaceHolder1_mainboxes" class="card mb-4">
          <div class="card-body p-4">
            <div class="row mx-gutters-md-1 align-items-center">

              <div class="col-md-6 col-lg-6">
                <div class="media align-items-center">
                  <figure class="u-sm-avatar mr-2">
                    <div class="u-xs-avatar mx-auto">
                      <img style="width:90px;" src="{% static 'images/pokt-logo.svg'%}" alt="POKT Logo">
                    </div>
                  </figure>
                  <div class="media-body">
                    <h2 class="font-size-1 text-uppercase text-secondary mb-0">POKT Price</h2>
                    <span class='text-size-1' rel='tooltip' data-toggle='tooltip' data-placement='left' data-html='true' title='The price of POKT (from coingecko api)'>${{price}}</span>

                  </div>
                </div>
                <hr class="hr-space-lg">
                <div class="media align-items-center">
                  <figure class="u-sm-avatar mr-2">
                    <img src="{% static 'images/svg/icons/icon-8.svg'%}" alt="SVG">
                  </figure>
                  <div class="media-body">
                    <h2 class="font-size-1 text-uppercase text-secondary mb-0">Relays
                    </h2>
                    <a class="text-size-1 text-link" data-toggle="tooltip" data-placement="top" data-title="View More" href="/stat/supply">
                      COMING SOON
                    </a>
                  </div>
                </div>
                <hr class="d-block d-md-none hr-space-lg">
              </div>


              <div class="col-md-6 col-lg-4 u-ver-divider u-ver-divider--left u-ver-divider--none-md">
                <div class="media align-items-center">
                  <figure class="u-sm-avatar mr-2">
                    <img src="{% static 'images/svg/icons/icon-2-1.svg'%}" alt="Transaction">
                  </figure>
                  <div class="media-body">
                    <h2 class="font-size-1 text-uppercase text-secondary mb-0">Nodes</h2>
                    <span class='text-size-1' rel='tooltip' data-toggle='tooltip' data-placement='left' data-html='true' title='Number of nodes on the network'>{{nodes}}</span>
                  </div>
                  <!-- <div class="text-right" title="GasTracker Estimate for Average Gas">
                    <h2 class="font-size-1 text-uppercase text-secondary mb-0">Med Gas Price</h2>
                    <a href='/gastracker' class='text-size-1 text-link' data-toggle='tooltip' data-html='true' title='Base Fee: 99 Gwei<br>Priority Fee: 1 Gwei'>100 Gwei <span class='text-secondary small'>($8.66)</span></a>
                  </div> -->
                </div>
                <hr class="hr-space-lg">
                <div class="media align-items-center">
                  <figure class="u-sm-avatar mr-2" data-toggle="tooltip" data-placement="top" title="View Difficulty Growth Chart">
                    <img src="{% static 'images/svg/icons/icon-51.svg'%}" alt="SVG">
                  </figure>
                  <div class="media-body">
                    <h2 class="font-size-1 text-uppercase text-secondary mb-0">Applications</h2>
                    <span class='text-size-1' rel='tooltip' data-toggle='tooltip' data-placement='left' data-html='true' title='Number of apps on the network'>{{apps}}</span>

                  </div>
                </div>
                <hr class="d-block d-md-none hr-space-lg">
              </div>

            </div>
          </div>
        </div>
        <div class="row mb-5">

          <div class="col-lg-6 mb-4 mb-lg-0">
            <div class="card h-100">

              <div class="card-header">
                <h2 class="card-header-title">Latest Blocks</h2>
              </div>


              <div class="js-scrollbar card-body overflow-hidden" style="height: 400px;">
                {% for block in blocks %}
                <div class="row">
                  <div class="col-sm-4">
                    <div class="media align-items-sm-center mr-4 mb-1 mb-sm-0">
                      <div class="d-none d-sm-flex mr-2"><span class="btn btn-icon btn-soft-secondary"><span class="btn-icon__inner text-dark">Bk</span></span></div>
                      <div class="media-body"><span class="d-inline-block d-sm-none">Block</span> <a href="/block/{{block.height}}">{{block.height}}</a></div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="d-flex justify-content-between">
                      <div class="text-nowrap"><span class="d-block mb-1 mb-sm-0">Proposer <a class="hash-tag text-truncate" href="/address/{{block.producer}}">{{block.producer}}</a></span><span
                          data-toggle="tooltip" title="" data-original-title="Transactions in this Block">{{block.txs}} txns </span> <span class="d-inline-block d-sm-none"></div>
                      <div class="d-none d-sm-block"><span class="u-label u-label--xs u-label--badge-in u-label--secondary text-center text-nowrap" data-toggle="tooltip" title="" data-original-title="POKT Minted">{{block.relays|mul:0.0089|floatformat}} Pokt</span></div>
                    </div>
                  </div>
                </div>
                <hr class='hr-space'>
                {%endfor%}




              </div>
            </div>
          </div>


          <div class="col-lg-6">
            <div class="card h-100">

              <div class="card-header">
                <h2 class="card-header-title">Latest Transactions</h2>
              </div>
              <div class="js-scrollbar card-body overflow-hidden" style="height: 400px;">

                {% for tx in txs %}
                <div class='row'>
                  <div class='col-sm-4'>
                    <div class='media align-items-sm-center mr-4 mb-1 mb-sm-0'>
                      <div class='d-none d-sm-flex mr-2'><span class='btn btn-icon btn-soft-secondary rounded-circle'><span class='btn-icon__inner text-dark'>Tx</span></span>
                      </div>
                      <div class='media-body'><span class='d-inline-block d-sm-none mr-1'>TX#</span><a class='hash-tag hash-tag--xs hash-tag-xs-down--md text-truncate' href='/tx/{{ tx.hash }}'>{{ tx.hash }}</a>
                        <span class='d-none d-sm-block small text-secondary'>{{tx.height}}</span>
                      </div>
                    </div>
                  </div>
                  <div class='col-sm-8'>
                    <div class='d-sm-flex justify-content-between'>
                      <div class='text-nowrap mr-4 mb-1 mb-sm-0'><span>From <a class='hash-tag text-truncate' href='/address/{{ tx.sender }}'>{{ tx.sender }}</a></span><span class='d-sm-block'>
                          {% if tx.receiver != "" %}
                          <a href='/address/{{tx.receiever}}' class='hash-tag text-truncate'>{{tx.receiever}}</a>
                          {% endif %}

                        </span></div>
                      <div><span class='u-label u-label--xs u-label--badge-in u-label--secondary text-center text-nowrap' data-toggle='tooltip' title='Amount'>{{tx.value|div:1000000|floatformat}} Pokt</span></div>
                    </div>
                  </div>
                </div>
                <hr class='hr-space'>
                {% endfor %}

              </div>
            </div>
          </div>

        </div>

      </div>
    </main>
    <div id="push"></div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="emailSubscribeModalBox" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close close-md" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="text-center py-5-alt px-4">
              <div id="emailSubscribeModalBoxText"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="bg-dark py-4">
    <div class="container">
      <div class="row justify-content-md-between font-size-1 py-2" style="background: url({% static '/world-map-white.png'%}) no-repeat 0 30%;">
        <div class="col-lg-3 mb-4 mb-lg-0">
          <div class="d-flex h-100 flex-column">
            <div class="d-flex align-items-center mb-4">
              <img width="20" src="{% static 'images/poktwatch.svg'%}" alt="POKT Logo">
              <span class="h4 text-white mb-0 ml-3">Powered by POKT</span>
            </div>
            <p class="text-white">poktwatch is a Block Explorer and Analytics Platform for POKT, a decentralized node platform</p>

            <div class="d-flex align-items-center">
              <button id="darkModaBtn" type="button" data-toggle="tooltip" data-title="Day/Night Mode" class="btn btn-sm btn-icon btn-soft-light">
                <i id="darkModaBtnIcon" Class="fa fa-moon"></i></button>
            </div>

          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0">
          <h4 class="h6 text-white heading-border">Company</h4>
          <ul class="list-group list-group-sm list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
            <!-- <li><a class="list-group-item" href="/contactus">Contact Us</a></li> -->
            <li><a class="list-group-item" href="https://t.me/p1errre">DM Me</a></li>

          </ul>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0">
          <h4 class="h6 text-white heading-border">Products & Services</h4>
          <ul class="list-group list-group-sm list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
            <li><a class="list-group-item" href="https://t.me/p1errre">Advertise</a></li>
          </ul>
        </div>
      </div>
      <hr class="opacity-md">
      <div class="row justify-content-between align-items-center font-size-1">
        <div class="col-md-6 mb-2 mb-md-0">
          <p class="mb-0 text-white">poktwatch © 2021 (A1)&nbsp; | &nbsp;<a class="text-white-70" href="/address/bd13f5f67af26b62650380bc21870aab6b638cdc">Donate</a> <i class="fas fa-heart text-danger"></i></p>
        </div>
      </div>

    </div>
  </footer>
  <div id="divcookie" class="fixed-bottom mx-3" style="display: none;">
  </div>
  <a class="js-go-to u-go-to" href="#" data-position='{"bottom": 20, "right": 15 }' data-type="fixed" data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
    <span class="fa fa-arrow-up u-go-to__inner"></span>
  </a>
  <script src="{% static '/assets/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static '/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
  <script src="{% static '/assets/vendor/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static '/assets/vendor/bootstrap/bootstrap.min.js' %}"></script>

  <script src="{% static '/assets/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
  <script src="{% static '/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static '/assets/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>

  <script src="{% static '/assets/js/hs.core.js' %}"></script>
  <script src="{% static '/assets/js/components/hs.header.js' %}"></script>
  <script src="{% static '/assets/js/components/hs.unfold.js' %}"></script>
  <script src="{% static '/assets/js/components/hs.malihu-scrollbar.js' %}"></script>
  <script src="{% static '/assets/js/components/hs.focus-state.js' %}"></script>
  <script src="{% static '/assets/js/components/hs.go-to.js' %}"></script>
  <script src="{% static '/assets/js/components/hs.cubeportfolio.js' %}"></script>
  <script src="{% static '/assets/js/custom/combine-js-bottom2.js' %}"></script>

  <script>
    $(window).on('load', function() {
      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 767.98,
        hideTimeOut: 0
      });
      myfn_subscribeNewsletter.startFn("#btnSubscribeNewsletter", "#signupSrEmail")
    });

    $(document).on('ready', function() {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#header'));

      // initialization of unfold component
      $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
        afterOpen: function() {
          $(this).find('input[type="search"]').focus();
        }
      });

      // initialization of malihu scrollbar
      $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

      // initialization of focus state
      $.HSCore.components.HSFocusState.init();

      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');

      // initialization of cubeportfolio
      //$.HSCore.components.HSCubeportfolio.init('.cbp');
    });
  </script>
  <script type="text/javascript">
    var sid = 'b8b95e980dc4ede260cb6aa5bb14b972';
    var strGlobal = getCookie("poktwatch_switch_age_datetime");
    var strGlobalFee = sessionStorage.getItem("ShowFee");
    var cookieconsent = getCookie("poktwatch_cookieconsent");


    if (cookieconsent !== "True") {
      document.getElementById("divcookie").style.display = "block";
    };


    function getCookie(cname) {
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) === ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) === 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    $("#btnCookie").click(function() {
      $("#divcookie").fadeOut("slow", function() {
        var d = new Date();
        d.setTime(d.getTime() + (1095 * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = "poktwatch_cookieconsent=True" + ";" + expires + ";path=/";;
      });
    });

    function handleSearchText(data) {
      searchAddress = false;
      if ($("txtSearchInput").val() == "") {
        $("#hdnSearchText").val("");
        $("#hdnSearchLabel").val("");
      }
    }
  </script>

  <script type="text/javascript">
    function setFocus() {
      if (window.innerWidth > 600)
        $("input[name=q]").focus();
    }
    $(document).ready(function() {
      //setFocus();
    });
  </script>
  <script type="text/javascript">
    (function() {
      window['__CF$cv$params'] = {
        r: '6a37c3a20cd966ef',
        m: 'YN5VK52t60N5zdpwfIvRZezBi3jKu1FkDF1TDrkTaC8-1635126313-0-AZg7LdEeR9Mj7l5bdtzdeIxDsxlZDLcV2Eop81kv+s4TrYFL7u+HpHn93NTQXF3LIbBReplilajdhqHrXpjZ7+i6GnsKGlAglpXOuWuqxsso1yVCdArqNQPJyjezL8ay8w==',
        s: [0x169b22a62b, 0xeccc9c52a1],
      }
    })();
  </script>
</body>

</html>
