{%load static%}

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Add React in One Minute</title>
    <script>
      window.transactions = [
    {
        "model": "explorer.transactions",
        "pk": 12232763,
        "fields": {
            "hash": "FCEBFE93363A369367432743E8BC6B7FBCC10EDFF394068FFF1DFAF2411A4351",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 13910700,
            "type": "claim",
            "fee": 10000,
            "height": 45060,
            "index": 689,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 12199887,
        "fields": {
            "hash": "B34F1908E5BA0ED95DBEAD90F2B827C8299B1629C78CD9C01FABA1EDE27C697E",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 0,
            "type": "proof",
            "fee": 10000,
            "height": 45012,
            "index": 646,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 12194252,
        "fields": {
            "hash": "FD1A09DC06100CC950B8BE6CBE41B2AC5BCB5070FBCCB384CE7241930E7F8240",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 31301300,
            "type": "claim",
            "fee": 10000,
            "height": 45004,
            "index": 675,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 12128226,
        "fields": {
            "hash": "B1E5F016FD8A910C03854DC2C8FF9F5218DA0C41B65345495C9815AB8933F5FD",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 0,
            "type": "unjail_validator",
            "fee": 10000,
            "height": 44913,
            "index": 628,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 12109824,
        "fields": {
            "hash": "27C57ECCBBD5DC028310DC258E32835F3B6381210C17FD097492E4FAB58F0A57",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 0,
            "type": "proof",
            "fee": 10000,
            "height": 44888,
            "index": 661,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 12103814,
        "fields": {
            "hash": "DBFF37E9FB3D31C479203ADBEA81C9B9EAF6405F8B0F7CD8E3E3E0388829F592",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 302600,
            "type": "claim",
            "fee": 10000,
            "height": 44880,
            "index": 738,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 12054262,
        "fields": {
            "hash": "D0F3CC454BC982CD82BC501CAAD0059FEAAA7EABD853E5749D5E4327EB21DDD4",
            "receiver": "4e30e90d250453180273725cda8e90f4c10a40e6",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 160544400,
            "type": "send",
            "fee": 10000,
            "height": 44816,
            "index": 89,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 12051665,
        "fields": {
            "hash": "335F6E2F04DBE0A6B9EB92A5874196E2C3F925DB0DDDF1F77AFF6EA9D2234B25",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 0,
            "type": "proof",
            "fee": 10000,
            "height": 44812,
            "index": 816,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 12045009,
        "fields": {
            "hash": "15EB3D170044761617E5A0666E8E9AEE87A8BD6F009359DAF9B3A88A1024AF85",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 560700,
            "type": "claim",
            "fee": 10000,
            "height": 44804,
            "index": 754,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 12041844,
        "fields": {
            "hash": "94D524B5F7D52EAB11295606D79CD0F4BB9DFC6A4D959BD7D98DDCE37DB187CB",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 0,
            "type": "proof",
            "fee": 10000,
            "height": 44800,
            "index": 792,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 12035396,
        "fields": {
            "hash": "E5391A297DD960C5D1B507A1F65C93A5F5C71999DDCB15B05A2EF64157B09072",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 596300,
            "type": "claim",
            "fee": 10000,
            "height": 44792,
            "index": 586,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 12008969,
        "fields": {
            "hash": "9C629E98361D3C2E4B84281E95A3D1C0DB41B8C86B9B28B2F567BEDCE6476D81",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 0,
            "type": "unjail_validator",
            "fee": 10000,
            "height": 44755,
            "index": 620,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 12007524,
        "fields": {
            "hash": "DE3CA54DE8273AD1CB592102F20EA730E43EB3D66C8FAA4FE0F8FC5BBDA289C4",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 0,
            "type": "stake_validator",
            "fee": 200000,
            "height": 44753,
            "index": 976,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 11998251,
        "fields": {
            "hash": "A3358C7B903A6C44B32F525360C64533E33948EFD02C673F0C0439B113B5DB8D",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 0,
            "type": "stake_validator",
            "fee": 200000,
            "height": 44741,
            "index": 224,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 11991752,
        "fields": {
            "hash": "1D5137C0569671460CA0CCA3B5176E6799576436B333C28AF46EDDAF467F24DA",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 0,
            "type": "proof",
            "fee": 10000,
            "height": 44732,
            "index": 623,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 11990408,
        "fields": {
            "hash": "56F478CFB947727A046808A3B5D8E8B34A6E8FF48344C207005930D68E5AECCA",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 0,
            "type": "unjail_validator",
            "fee": 10000,
            "height": 44730,
            "index": 666,
            "code": 104,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 11989083,
        "fields": {
            "hash": "DC55A275CB9A4B1C53D6386951271EF030B7A38DA2132A1D027D90E7408CA56F",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 151086400,
            "type": "claim",
            "fee": 10000,
            "height": 44728,
            "index": 612,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 11965469,
        "fields": {
            "hash": "182002281B830AFD0BF6B147E8BB0542F01E52C6E8A714720F6DCBDD20122077",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 0,
            "type": "proof",
            "fee": 10000,
            "height": 44696,
            "index": 761,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 11959286,
        "fields": {
            "hash": "D4A6F491A5EF87228F51A12A19A0E8E569B38421D9C3564AE6CC6512F6636D24",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 8811000,
            "type": "claim",
            "fee": 10000,
            "height": 44688,
            "index": 696,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 11795683,
        "fields": {
            "hash": "71571C1E4C0675ABF14FAF6BDA74B9FAC7958B850BD0A6990E82CE5F7145AA8A",
            "receiver": "4e30e90d250453180273725cda8e90f4c10a40e6",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 194249400,
            "type": "send",
            "fee": 10000,
            "height": 44476,
            "index": 950,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 11777715,
        "fields": {
            "hash": "A3A6308A1CA4FFF634FE85817CBBA8E074B7D4AAA316684D316E08DFDE1C40A2",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 0,
            "type": "proof",
            "fee": 10000,
            "height": 44457,
            "index": 19,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 11770863,
        "fields": {
            "hash": "7E1AECE2F3349DC2F63613F90127C3A428045F507425FDF41BEF933190E4EEAE",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 3275200,
            "type": "claim",
            "fee": 10000,
            "height": 44448,
            "index": 709,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 11749851,
        "fields": {
            "hash": "46CEFD2A35F2A6D12410594156C68EF8F68685A6FD8C199A72ABCA48CB7426F7",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 0,
            "type": "proof",
            "fee": 10000,
            "height": 44423,
            "index": 827,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 11743935,
        "fields": {
            "hash": "6B3E8D4E7DE9FEBF21511FA6A261B6ED1A79EED8120D6DB20C24601A55DEFF32",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 16322600,
            "type": "claim",
            "fee": 10000,
            "height": 44416,
            "index": 818,
            "code": 0,
            "memo": ""
        }
    },
    {
        "model": "explorer.transactions",
        "pk": 11736026,
        "fields": {
            "hash": "9EC1E1D277E7A1AA1C9F44D53EC2B63B7FE63F83C2914B4E193D648A4645256A",
            "receiver": "                                        ",
            "sender": "6f0dcbfea3fa8e79664ed7c5319485b29baf073b",
            "value": 0,
            "type": "proof",
            "fee": 10000,
            "height": 44407,
            "index": 859,
            "code": 0,
            "memo": ""
        }
    }
];
      window.bahs = ["bah", "bah", "black sheep"];
    </script>
  </head>
  <body>
    <!-- We will put our React component inside this div. -->
    <div id="root"></div>
    <div id="transactions">

    </div>

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script type = "text/babel" src="{%static 'react/tx.js'%}"></script>

  </body>
</html>
